.divTop{
  position:relative;
  height: 300px;
  width: 300px;
  margin: 15px;
}

.divEchart{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
}
.divBgClr{
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 0.7;
}

.divIntoCityBgClr{
  position: absolute;
  height: 300px;
  width: 300px;
  background-color:#48b6a5;
  opacity: 0.9;
}

.imgProject{
  position: absolute;
  top:50px;
  width: 300px;
  height: 250px;
}
.imgProject:hover{
  cursor:pointer;
}

.btnInto{
  position: absolute;
  height: 80px;
  width: 220px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pTxt{
  position: absolute;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}
.txtImportPro{
  position: absolute;
  color: #ffffff87;
  top: 75px;
  left: 115px;
  font-size: 91px;
}
.txtImportPro:hover{
  cursor:pointer;
}
