.divTop{
  position:relative;
  height: 300px;
  width: 350px;
  margin: 15px;
}

.divEchart{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 300px;
}

.divBgClr{
  position: absolute;
  height: 300px;
  width: 350px;
  background-color: black;
  opacity: 0.7;
}

.divIntoCityBgClr{
  position: absolute;
  height: 300px;
  width: 350px;
  background-color:#48b6a5;
  opacity: 0.9;
}

.imgProject{
  position: absolute;
  top:50px;
  width: 350px;
  height: 250px;
}
.imgProject:hover{
  cursor:pointer;
}

.btnInto{
  position: absolute;
  height: 80px;
  width: 220px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pTxt{
  position: absolute;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}

.txtImportPro{
  position: absolute;
  color: #ffffff87;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 91px;
}

.txtImportPro:hover{
  cursor:pointer;
}

/* intoSys */
.divIntoSys {
  position:relative;
  height: 300px;
  width: 350px;
  margin: 15px;
}

.divIntoSysBtn {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 300px;
  width: 350px;
}

.divMaskIntoSys {
  height: 300px;
  width: 350px;
  background-color:rgba(82, 240, 234, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
}

.divIntoSys:hover .divMaskIntoSys{
  opacity:0.7;
}
.divIntoSys:hover .divIntoSysBtn{
  display: none;
}

