{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": [0],
    "arrow-parens": [0],
    "generator-star-spacing": [0],
    "global-require": [1],
    "import/extensions": [0],
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": [0],
    "import/prefer-default-export": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "no-console": [0],
    "no-unused-vars": [0],
    "no-bitwise": [0],
    "no-cond-assign": [0],
    "no-else-return": [0],
    "no-nested-ternary": [0],
    "no-restricted-syntax": [0],
    "no-use-before-define": [0],
    "no-mixed-operators": "off",
    "react/forbid-prop-types": [0],
    "react/jsx-no-bind": [0],
    "react/prefer-stateless-function": [0],
    "react/prop-types": [0],
    "require-yield": [1],
    "linebreak-style": "off",
    "prefer-template": "off",
    "prefer-const":"off",
    "func-names":"off",
    "prefer-arrow-callback":"off",
    "no-tabs":"off",
    "computed-property-spacing":"off",
    "object-shorthand":"off",
    "no-plusplus":"off",
    "no-underscore-dangle":"off",
    "newline-after-var":"off",
    "newline-before-return":"off",
    "import/newline-after-import":"off",
    "no-mixed-spaces-and-tabs":"off",
    "dot-notation":"off",
    "no-shadow":"off",
    "max-len":"off",
    "quotes":"off",
    "quote-props":"off",
    "no-lonely-if":"off",
    "spaced-comment":"off",
    "no-param-reassign":"off",
    "no-return-assign":"off",
    "consistent-return":"off",
    "comma-dangle":"off",
    "eqeqeq":"off",
    "padded-blocks":"off",
    "array-callback-return":"off",
    "guard-for-in":"off",
    "eol-last":"off",
    "class-methods-use-this":"off",
    "no-extra-boolean-cast":"off",
    "jsx-quotes":"off",
    "react/jsx-indent":"off",
    "indent":"off", 
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
