.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #001529;
  height: 50px;
  line-height: 50px;
}
.logo {
  width: 35px;
}
.projectname {
  display: flex;
  align-items: center;
}
.userlogo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title {
  display: block;
  font-size: 20px;
  color: white;
  float: right;
  padding-left: 10px;
  letter-spacing: 3px;
}

.actionContainer {
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  margin: 0 10px;
  font-size: 20px;
  font-weight: 650;
}

.viewDiv {
  flex: auto;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  outline: none !important;
}
.viewDiv:focus{
  outline: none;
}

/* .viewDiv:after{
  display: block;
  content: '.';
  clear: both;
  line-height: 0;
  visibility: hidden;
} */

.viewDiv > div {
  flex: auto;
}

.fenpingDiv {
  position: absolute;
}

.zhu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10;
}

.fufirst {
  width: 50%;
  height: 100%;
  float: left;
}

.fuscend {
  width: 50%;
  height: 100%;
  float: left;
}

.collapseWrapper {
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: #cccccc;
  font-size: 18px;
  font-weight: bold;
}

.collapseWrapper:hover {
  background: rgba(0, 0, 0, 0.3);
}

.menuPop :global(.ant-popover-inner) {
  border-radius: 0;
  background: rgba(11, 24, 38, 0.7);
}

.menuPop :global(.ant-popover-inner) :global(.ant-popover-inner-content) {
  padding: 0;
}

.menuPop :global(.ant-popover-arrow) {
  display: none;
}

.siderMenuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mapDiv {
  height: 800px;
}

.switch2DBtn {
  position: absolute;
  top: 10px;
  left: 20px;
}

.switch3DBtn {
  position: absolute;
  top: 10px;
  left: 80px;
}