.wrap {
  position: absolute;
  left: 300px;
  top: 16px;
  z-index: 5;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popover {
  left: 300px !important;
}

.popover :global(.ant-popover-arrow) {
  display: none;
}