.titleBar {
  width: 100%;
  height: 24px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modeSwitcher {
  height: 36px;
  line-height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.modeSwitcher :global(.ant-radio-button-wrapper) {
  font-size: 13px;
}

.modeSwitcher :global(.ant-radio-button-wrapper) i {
  font-size: 14px;
}

.content {
  border-top: 1px solid #666;
  margin-top: 10px;
  padding: 10px 0;
}

.content section header {
  margin-bottom: 6px;
  font-style: italic;
  color: #999;
}

.content section :global(.ant-btn) {
  margin-right: 8px;
  margin-bottom: 12px;
}