.btn {
  display: inline-block;
  cursor: pointer;
  margin: 6px;
  width: 44px !important;
  height: 44px !important;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
  transition: color 0.3s;
  background: #001529;
  font-size: 24px;
  font-weight: bold;
}

/* .btn:hover{
  background: #15e3e1;
} */

.btnImg {
  /* width: 30px; */
  /* height: 30px; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px; /* 高度的一半 */
  margin-left: -21px; /* 宽度的一半 */
}

.modlediv {
  position: absolute;
  right: 10px;
  top: 120px;
}
.listdiv {
  background-color: rgba(230, 230, 230, 0.945);
  width: 350px;
}
.ptitle {
  background-color: rgba(0, 0, 0, 0.766);
  color: white;
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
}
.spantitle {
  margin-left: 236px;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 22px;
}
.listh5 {
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.listh6 {
  margin: 0;
  padding: 0;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.SubMenustyle {
  background-color: rgba(199, 198, 198, 0.9);
  color: black;
}
.footdiv {
  height: 30px;
  line-height: 30px;
  display: flex;
}
.dataspan {
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
}
